.navbar{
    background: #ff130a;
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar-brand{
    color:white;
    padding-left:38%;
    font-family: Microsoft sans-serif;
    font-size:35px;
}
#logout{
    color: white;
    padding-left: 75%;
    font-family: Micro;
    padding-top: 1.5%;
    font-family: Microsoft sans-serif;
    font-size:15px;
}
.glyphicon-off{
    font-size:13px;
}
body{
    background: url('http://www.gutbilder.com/reimg/image.php?src=http://www.gutbilder.com/images/abstract-bokeh-multicolor-555543-background-wallpapers.jpg&h=960&w=1280');
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    width:60%;
    margin-left:20%;
    margin-top:5%;
}
.apiClass{
    margin-top:10px;
}
.btn{
    font-size:10px;
    font-family:"Microsoft Sans Serif";
}
#faceDetection,#AlchemySearch,#barCodeScanner{
    padding:5px;
}
#spanFaceDetectionHeading,#alchemy,#spanBarCodeHeading{
    font-weight:bold;
    font-size:20px;
}
.intro{
    padding-left:10px;
    font-size:14px
}

