#map-canvas {
    width: 100%;
    height: 610px;
    margin-top:10px;
}
.form-control{
    border-radius:8px;
}
.weatherDetails{
    font-family: Microsoft sans-serif;
    font-size:14px;
}
.navbar{
    background: #ff9a2e;
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar-brand{
    color:white;
    padding-left:37%;
    font-family: Microsoft sans-serif;
    font-size:35px;
}
.form-group{
    margin-bottom:-12px;
}
#logout{
    color: white;
    padding-left: 20%;
    font-family: Micro;
    padding-top: 1.5%;
    font-family: Microsoft sans-serif;
    font-size:15px;
}
.glyphicon-off{
    font-size:13px;
}
#faceRecognitionLogo{
    height:50px;
    width:50px;
    float:left;
    margin-left:30px;
    margin-top:5px;
}
body{
    background: url('https://static.wixstatic.com/media/4812cc_26a4f8c223b246269e97e2d6ca70bf7f~mv2_d_2309_1602_s_2.jpg_srz_457_280_85_22_0.50_1.20_0.00_jpg_srz');
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    width:60%;
}
.table{
    margin-top:400px;
    width:50%;
    border:1px solid #bc29ff;
    border-radius:8px;
    margin-left:10%;
}
#imageLabel{
    margin-right: 100px;
    padding-left:300px;
    font-weight:bold;
    font-size:21px;
}
#classifyImage{
    float: right;
    margin-right: 200px;
    height:300px;
    width:350px;
    mrgin-top:500px;
    border:1px darkred;
    border-radius:10px;
}
#tableLabel{
    font-weight: 600;
    font-size:35px;
}
#barCodeLogo {
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

